/* Fundo do header e deixando fixo para acompanhar o scroll */
.header-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
}

/* Estruturando o header */
.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

/* Estruturando para os links */
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

/* Links do menu */
.header a {
  display: inline-block;
  padding: 16px 0;
  color: var(--cor-7);
}
