/* Fundo da seção de introdução */
.introducao-bg {
  background: url(/img/fotos/bg-introducao.jpg) no-repeat center center;
  height: 924px;
  background-size: cover;
}

/* Alinhar o conteúdo no centro */
.introducao {
  height: 924px;
  align-content: center;
  text-align: center;
  color: var(--cor-1);
}

/* Espaço do paragrafo para o título */
.introducao p {
  margin-top: 20px;
}

/* Lista de links para redes sociais */
.introducao ul {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
