/* Estrutura principal da página */
.container {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* componente botão */
.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#3b81eb, #1361bf);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: var(--cor-p5);
  text-transform: uppercase;
  font: 700 1.125rem/1.35 "Funnel Display", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

/* mudança da aparência do botão ao passar mouse :hover */
.botao:hover {
  background: linear-gradient(#1f64ca, #074897);
}
